<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leo.hook">

    <application
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:label="HOOK"
        >
        <activity android:name=".ui.MainActivity" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.TargetActivity"/>
    </application>

</manifest>